.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns items to the top */
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  max-width: 100%;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 1em;
}
